<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            color: orange;
        }
        .product_info{
            color: orange;
        }
        
    </style>
</head>
<body>
    <div class="product_detail">
        <div class="product_image">
            <img src="{{%IMAGE%}}" alt="">

        </div>
        <div class="product_specs">
            <h3>Iphone Apple dljfkjdfbe</h3>
            <p><span>Model Name : </span> {{%MODELNAME%}}</p>
            
            <p><span>Model number : </span> {{%MODELNUMBER%}}</p>
            
            <p><span>Size : </span> {{%SIZE%}}</p>
            
            <p><span>Camera : </span> {{%CAMERA%}}</p>
        </div>
    </div>

    <div class="product_detail">
        <div class="product_info"><h4>Price :</h4> {{%NAME%}}</div>
        <div class="product_info"><h4>Color :</h4> {{%COLOR%}}</div>
        <div class="product_info"><h4>Price :</h4> {{%PRICE%}}</div>
        <div class="product_info"><h4>Description :</h4> {{%description%}}</div>

         
        

    </div>
</body>
</html>